body{
    background-image: url(../img/roger.png);
    background-repeat: inherit;
}

.header{
    background-image: url(../img/banner.jpg);
}

.imagen{
    display: block;
    margin: auto;
    width: 120px;
}

h1{
    background-color: cadetblue;
    text-align: center;
}

.seccion-presentacion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;
}

.seccion-deporte{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;
}

.seccion-estudios{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;
}