header{
    background-image: url("../img/banner.jpg");
}

.imagen{
    display: block;
    margin: auto;
    width: 120px;
}

.titulo{
    background-color: #C4C4C4;
    color: hsl(197, 100%, 23%);
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 10px;
    text-align: center;
}

.datos{
    background-color: #C4C4C4;
    color: #005677;
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: 120px;
    padding: 3px;
    padding-left: 15px;
}

.formacion{
    background-color: #C4C4C4;
    color: #005677;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 3px;
    padding-left: 15px;
}

.experiencia{
    background-color: #C4C4C4;
    color: #005677;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 3px;
    padding-left: 15px;
}

.footer{
    background-color: #005677;
    color: white;
    font-size: 20px;
    margin-top: 145px;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
}

.logo{
    margin: 0 9px;
}

.logo2{
    margin: 0 9px;
}

.logo3{
    margin: 0 9px;
    width: 20px;
    height: 20px;
}

.informacion{
    color: blue;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.span-cursiva{
    font-style: italic;
    font-weight: bold;
}

.span-negrita{
    font-weight: bold;
}

p{
    font-size: 15px;
}
