<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobreMi.css">
    <title>Sobre Mi</title>
</head>
<body>
    <header class="header"><img src="../img/mark.JPG" alt="" class="imagen"></header>
    <main>
        <h1>Información sobre mí</h1>
        <section class="seccion-presentacion">
            <h3>Presentación</h3>
            <p>Me llamo Mark Aboian, tengo 19 años. Nací en la Ciudad Autónoma de Buenos Aires, Argentina.</p>
        </section>
        <section class="seccion-deporte">
            <h3>Deporte</h3>
            <p>Juego al tenis desde que tengo 5 años. Competí desde las categorías de menores de 10 años hasta 18 años a nivel nacional e internacional hasta el momento de la inserción al profesionalismo.</p>
        </section>
        <section class="seccion-estudios">
            <h3>Estudios</h3>
            <p>Fui al primario en el Colegio Santa Rosa en la Ciudad de Buenos Aires y luego al egresar del primario, estudié la secundaria a distancia en el Servicio de Educación del Ejército Argentino. Hice la educación a distancia debido a que, al entrenar mañana y tarde dos turnos, me consumía el horario para el estudio y mi idea era dedicarme de lleno al deporte.</p>
            <p>Con la llegada de la pandemia del Covid-19, y la cuarentena más larga del mundo, tomé la decisión de dedicarme al estudio. Ahora mismo me encuentr o estudiando la carrera Certified Tech Developer de Digital House.</p>
        </section>
    </main>
</body>
</html>